table tbody tr:nth-child(odd) {
	background: #ffffff;
}
table tbody tr:nth-child(even) {
	background: #0004ff;
}
table thead {
  background: #000399;
  color: #fff;
  font-size: 18px;
}
table {
  border-collapse: collapse;
  width: 100%;
}