.card-container{
  display: grid;
  width: 80%;
  margin: auto;
  height: 400px;
  grid-gap: 25px;
  grid-template-columns: minmax(0,1fr) minmax(0,1fr);
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.doctor-container{
  grid-column: 1/1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specs-container{
  grid-column: 2/2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doctor-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table tbody tr:nth-child(odd) {
background: #ffffff;
}
table tbody tr:nth-child(even) {
background: #0004ff;
color: #fff;
}
table thead {
background: #000399;
color: #fff;
font-size: 18px;
}
table {
border-collapse: collapse;
width: 100%;
}

.table-container {
grid-column: 2 / 12;
}

.text-input {
grid-column: 2 / 12;
grid-row: span 5;
}

.table-studios tbody tr:nth-child(odd) {
background: #ffffff;
  color: black;
}
.table-studios tbody tr:nth-child(even) {
background: #ffffff;
  color: black;
}