{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/appointment_detail_view.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<div class="main">
    <!-- especificar datos de la cita-->
    <div class="table-containter">
        <table>
            <thead>
                <tr>
                <th>Médico</th>
                <!-- <th>Especialidad</th> -->
                <th>Paciente</th>
                <th>Sucursal</th>
                <th>Fecha</th>
                <th>hora</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>{{ data.medico.nombre }} {{ data.medico.apellido }}</td>
                <td>{{ data.paciente.nombre }} {{data.paciente.apellido}}</td>
                <td>{{ data.centro.nombre }} {{ data.centro.direccion }}</td>
                <td>{{ data.fecha }}</td>
                <td>{{ data.hora }}</td>
                </tr> 
            </tbody>
        </table>
    </div>
    <a href="../{{data.id}}/update" class="btn"> Editar </a>

    <a href="../delete_cita/{{data.id}}" class="btn" id="delete"> Eliminar </a>

    <a href="../citas_view" class="btn"> Volver </a>
</div>