{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/citas_view.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

{% include 'navbar.html' %}

<div class="doctor-container">
    <a href="create_cita" class="btn">Agenda hora</a>
</div>

<div class="card-container">
        {% for cita in citas %}
        <a href="{% url 'detalle_cita_view' id=cita.id %}" ="card">
            <div class="card-header">
                <h2>{{ cita.medico }}</h2>
            </div>
            <div class="card-body">
                <p>{{ cita.fecha }}</p>
                <p>{{ cita.hora }}</p>
                <p>{{ cita.sucursal }}</p>
                <p>{{ cita.centro }}</p>
            </div>
        </a>
        {% endfor %}
</div>
