{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

<div class="container">

    <div class="text-container">
        <h1>Conoce a nuestros medicos</h1>
        <h2>Utilizando nuestra herramienta, puedes buscar a nuestros medicos por su nombre, especialidad o cercania.</h2>
    </div>

    <div class="specialist-searcher-container">
        
        {% for doctor in dataset %}
       
        <a href="">
            <div class="specialist-card">
                <figure class="specialist-img">
                    <img src="{% static 'img/person.png' %}">
                </figure>            
                
                <div class="specialist-text">
                    <h3>Dr. {{ doctor.nombre }} {{doctor.apellido}} </h3>
                    {% for especialidad in doctor.especialidades.all %}
                    <p> {{ especialidad }} </p>
                    {% endfor %}
                    {% for sucursal in doctor.sucursales.all %}
                    <p> {{ sucursal }} </p>
                    {% endfor %}
                    <p> {{ doctor.anos_experiencia }} años de experiencia profesional </p>
                </div>

            </div>
        </a>

        {% endfor %}  

    </div>
</div>
