{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create_medico.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

{% include 'navbar.html' %}
<div class="main">
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
 
        <!-- form as paragraph -->
        {{ form.as_p }}
 
        <div class="button-container">
            <a href="../list_view" class="btn">Volver</a>
            <input type="submit" value="Actualizar">
        </div>
    </form>
 
</div>